.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}

.cartItem p {
    margin: 0;
}

.cartItem img {
    width: 300px;
    margin: 20px;
}

.cartItem .cartDescription {
    width: 100%;
    margin-right: 10px;
    font-size: 30px;
}

.countUpdator input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}