/* Goods.js */
.goods-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.goods-price {
    font-size: 1.2rem;
    margin-top: 5px;
}

.cart-button button {
    margin: 1rem;
}

.removeItemFromCartButton {
    background-color: white;
    padding: 0.5rem;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.removeItemFromCartButton:hover {
    background-color: red;
    border-radius: 10px;
}

.addToCartButton {
    background: white;
    padding: 0.5rem;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.addToCartButton:hover {
    background-color: yellow;
    border-radius: 10px;
}

