* {
  box-sizing: border-box;

}

.App {
  text-align: center;
  background-color: whitesmoke;
  
    width: 100%;
    height: 100vh;
    border: purple solid 10px;
    padding: 15px;
}

@media only screen and (max-width: 1500px) {
  .App {
  height: 120vh;
}
}

@media only screen and (max-width: 980px) {
  .App {
    height: 220vh;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    height: 320vh;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    height: 360vh;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
